 <div class="card mt-5 mx-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div><h3 class="m-0">Post Title</h3></div>
        <div><h5 class="m-0">Post Time</h5></div>
    </div>
    <div class="card-body">
        <h4>Hey this is the post</h4>
    </div>
</div>